# Set

In [1]:
my_set = {1, 2, 3, 4, 5}
my_set

{1, 2, 3, 4, 5}

In [2]:
# duplication is not allowed

my_set = {1, 2, 3, 2, 5, 6, 3}
my_set

{1, 2, 3, 5, 6}

In [3]:
# adding a new value to set

my_set.add(7)
my_set

{1, 2, 3, 5, 6, 7}

In [10]:
# adding multiple values to set

my_set.update({8, 9, 10})
my_set

{1, 2, 3, 5, 6, 7, 8, 9, 10}

In [11]:
# removing an item

my_set.remove(10)
my_set

{1, 2, 3, 5, 6, 7, 8, 9}

In [14]:
# reading a random value from set

my_item = my_set.pop()

print(f"Returned Item: {my_item}")
print(f"Updated Set: {my_set}")

Returned Item: 2
Updated Set: {3, 5, 6, 7, 8, 9}

In [15]:
# removing duplicates from the list

my_list = [1, 2, 3, 2, 5, 4, 5]
my_list

[1, 2, 3, 2, 5, 4, 5]

In [16]:
# solution 1

my_unique_list = []
for item in my_list:
    if item not in my_unique_list:
        my_unique_list.append(item)
        
my_unique_list

[1, 2, 3, 5, 4]

In [17]:
# solution 2

my_unique_list = list(set(my_list))
my_unique_list

[1, 2, 3, 4, 5]

In [19]:
# union
# combining two sets

my_set_1 = {1, 2, 3, 4, 5}
my_set_2 = {4, 5, 6, 7, 8}

my_set = my_set_1.union(my_set_2)
my_set

{1, 2, 3, 4, 5, 6, 7, 8}

In [23]:
# intersection
# returning mutual elements between two sets

my_set_1 = {1, 2, 3, 4, 5}
my_set_2 = {4, 5, 6, 7, 8}

my_set = my_set_1.intersection(my_set_2)
my_set

{4, 5}

In [24]:
# difference
# returning the difference between two sets

my_set_1 = {1, 2, 3, 4, 5}
my_set_2 = {4, 5, 6, 7, 8}

my_set = my_set_1.difference(my_set_2)
my_set

{1, 2, 3}

In [25]:
# symmetric difference
# returning the symmetricdifference between two sets

my_set_1 = {1, 2, 3, 4, 5}
my_set_2 = {4, 5, 6, 7, 8}

my_set = my_set_1.symmetric_difference(my_set_2)
my_set

{1, 2, 3, 6, 7, 8}

In [28]:
# union
my_set = my_set_1 | my_set_2
my_set

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# intersection
my_set = my_set_1 & my_set_2
my_set

In [29]:
# difference
my_set = my_set_1 - my_set_2
my_set

{1, 2, 3}

In [30]:
# symmetric difference
my_set = my_set_1 ^ my_set_2
my_set

{1, 2, 3, 6, 7, 8}